@using DAC.Models

@model CmdInfo

@{
    ViewBag.Title = "Panel admina";
    string placeholder = Model == null ? "" : Model.CmdText;
}

<br />

@using (Html.BeginForm("ExecuteCommand", "Admin", FormMethod.Post, new { role = "form", name = "sqlCmd", id = "sqlCmd" }))
{
    <div class="form-group text-center">
        @Html.Label("Polecenie SQL", new { })
    </div>
    @Html.TextArea("cmdText", @placeholder, 10, 50, new { required = "required", @class = "form-control" })
    <br />
    <button type="submit" class="btn btn-primary">Wykonaj</button>
}

@if (Model != null)
{
    <br />
    if (Model.Success)
    {
        <p class="alert alert-success"><strong>SUKCES! </strong>@Model.Msg</p>
    }
    else
    {
        string[] s = Model.Msg.Split('*');
        <p class="alert alert-danger"><strong>PORAŻKA! </strong>@s[0]<br />@s[1]</p>
    }
}

