@using DAC.Models

@model EntityData

@{
    ViewBag.Title = Model.TableInfo.TableName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.TableInfo.TableName<small> (update)</small></h2>
<hr />
<br />
@using (Html.BeginForm("Edit", "Tables", FormMethod.Post, new { role = "form", @class = "form-vertical" }))
{
    ColumnInfo columnInfo;
    string val;

    for (int i = 0; i < Model.TableInfo.ColumnsInfo.Count; i++)
    {
        columnInfo = Model.TableInfo.ColumnsInfo[i];
        val = Convert.ToString(Model.Values[i]);

        //special treatment for 'Uzytkownicy' table
        if (Model.TableInfo.TableName == "Uzytkownicy")
        {
            if (columnInfo.ColumnName.Contains("Uprawnienia"))
            {
                <input type="text" name="@columnInfo.ColumnName" value="@val" hidden />
                continue;
            }
            else if (columnInfo.ColumnName == "czyAdmin")
            {
                <input type="text" name="@columnInfo.ColumnName" value="@val" hidden />
                continue;
            }
            else if (columnInfo.ColumnName == "UprawnieniePrzejmij")
            {
                if (ViewBag.Admin == false)
                {
                    <input type="text" name="@columnInfo.ColumnName" value="@val" hidden />
                    continue;
                }
            }
        }
        
        <div class="form-group">
            <label>
                <span class="text-primary">@columnInfo.ColumnName</span>
                <span class="text-muted">
                    [@{
                    if (columnInfo.DataType == "varchar")
                    {
                        @Html.Raw(columnInfo.DataType + "(" + columnInfo.MaxLength + ")")
                    }
                    else
                    {
                        @Html.Raw(columnInfo.DataType)
                    }
                    }]
                    @if (columnInfo.IsIdentity)
                    {
                        @Html.Raw(" [identity]")
                    }
                    @if (!columnInfo.IsNullable)
                    {
                        @Html.Raw(" [not null]")
                    }
                </span>
            </label>
            @if (!columnInfo.IsIdentity)
            {
                <input type="text" name="@columnInfo.ColumnName" class="form-control" value="@val" />
            }
            else
            {
                <input type="text" class="form-control" disabled value="@val"/>
                <input type="text" name="@columnInfo.ColumnName" hidden value="@val"/>
            }
        </div>
    }
    <input type="hidden" name="tableName" value="@Model.TableInfo.TableName">
    <input type="hidden" name="rowId" value="@Model.Id" />
    <hr />
    <div class="btn-group">
        <button type="submit" class="btn btn-primary">Edytuj</button>
        <button type="button" class="btn btn-primary" onclick="location.href = '/Tables/Summary?Name=@Model.TableInfo.TableName'">Powrót do @Model.TableInfo.TableName</button>
    </div>
}