@using DAC.Models

@model List<UserPermissions>

@{
    ViewBag.Title = "Tabele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper CreateRow(Permission p)
{

    <td>
        @if (p == Permission.No)
        {
            <span class="glyphicon glyphicon-minus-sign" style="color:red"></span>
        }
        else if (p == Permission.Yes)
        {
            <span class="glyphicon glyphicon-plus-sign" style="color:orange"></span>
        }
        else
        {
            <span class="glyphicon glyphicon-ok-sign" style="color:green"></span>
        }
    </td>

}
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th class="th-blue">Tabela</th>
            <th class="th-blue">Select</th>
            <th class="th-blue">Insert</th>
            <th class="th-blue">Delete</th>
            <th class="th-blue">Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (UserPermissions u in Model)
        {
            <tr>
                <td>
                    <button type="button" class="btn btn-info" onclick="location.href = '/Tables/Summary?Name=@u.TableName'">@u.TableName</button>
                </td>
                @CreateRow(u.PermissionSelect)
                @CreateRow(u.PermissionInsert)
                @CreateRow(u.PermissionDelete)
                @CreateRow(u.PermissionUpdate)
            </tr>
        }
    </tbody>
</table>
<hr />
@if (!ViewBag.TakePermission)
{
    <strong>Przejmij&nbsp;&nbsp;&nbsp;</strong><span class="glyphicon glyphicon-minus-sign" style="color:red"></span>
}
else
{
    <strong>Przejmij&nbsp;&nbsp;&nbsp;</strong><span class="glyphicon glyphicon-plus-sign" style="color:orange"></span>
}
<hr />
<ul class="list-group">
    <li class="list-group-item"><span class="glyphicon glyphicon-minus-sign" style="color:red"></span>&nbsp;&nbsp;&nbsp;Brak uprawnienia</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-plus-sign" style="color:orange"></span>&nbsp;&nbsp;&nbsp;Posiadanie uprawnienia</li>
    <li class="list-group-item"><span class="glyphicon glyphicon-ok-sign" style="color:green"></span>&nbsp;&nbsp;&nbsp;Posiadanie uprawnienia z grantem</li>
</ul>