@using DAC.Models
@using DAC.Controllers

@model TableInfo

@{
    ViewBag.Title = Model.TableName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.TableName<small> (wstawianie)</small></h2>
<hr />
<br />
@using (Html.BeginForm("Insert", "Tables", FormMethod.Post, new { role = "form", @class = "form-vertical" }))
{
    foreach (ColumnInfo columnInfo in Model.ColumnsInfo)
    {
        <div class="form-group">
            <label>
                <span class="text-primary">@columnInfo.ColumnName</span> 
                <span class="text-muted"> [@{
                    if(columnInfo.DataType == "varchar")
                    {
                        @Html.Raw(columnInfo.DataType + "(" + columnInfo.MaxLength + ")")
                    }
                    else
                    {
                        @Html.Raw(columnInfo.DataType)
                    }
                    }]
                    @if (columnInfo.IsIdentity)
                    {
                        @Html.Raw(" [identity]")
                    }
                    @if (!columnInfo.IsNullable)
                    {
                        @Html.Raw(" [not null]")
                    }
                    </span>
            </label>
            @if (!columnInfo.IsIdentity)
            {
                <input type="text" name="@columnInfo.ColumnName" class="form-control" />
            }
            else
            {
                <input type="text" class="form-control" disabled />
                <input type="text" name="@columnInfo.ColumnName" hidden />
            }
        </div>
        <br />
    }
    <input type="hidden" name="tableName" value="@Model.TableName">
    <hr />
    <input type="submit" value="Wstaw">
}
<br />
@Html.ActionLink("Powrót do " + Model.TableName, "View", new { Name = Model.TableName })