@using DAC.Models
@using DAC.Controllers

@model TableDataContainer

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.TableName</h2>
<br />
<div class="container">
    <div class="btn-group btn-group-justified">
        <a href="#" class="btn btn-primary">Wstaw</a>
        <a href="#" class="btn btn-primary">Edytuj</a>
        <a href="#" class="btn btn-primary">Usuń</a>
    </div>
</div>
<br />
<br />
<table class="table table-hover table-bordered">
    <tr>
        @foreach (ColumnInfo columnInfo in Model.ColumnsInfo)
        {
            <th class="th-mint">
                @columnInfo.ColumnName
            </th>
        }
        <th></th>
    </tr>
    @for (int i = 0; i < Model.Values[0].Count; i++)
    {
        <tr>
            @foreach (List<object> values in Model.Values)
            {
                <td>
                    @Convert.ToString(values[i])
                </td>
            }
            <td>
                @Html.RadioButton("rowId", i)
            </td>
        </tr>
    }
</table>
<br />
<hr />
@Html.ActionLink("Powrót do Tabele", "Index")