@using DAC.Models
@using DAC.Controllers

@model TableData

@{
    ViewBag.Title = Model.TableInfo.TableName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.TableInfo.TableName</h2>
<br />
<div class="btn-group">
    <button type="button" class="btn btn-primary" onclick="location.href = 'Insert?Name=@Model.TableInfo.TableName'">Wstaw</button>
    <button type="button" class="btn btn-primary" onclick="redirectToEdit()">Edytuj</button>
    <button type="button" class="btn btn-primary" onclick="redirectToDelete()">Usuń</button>
</div>
<br />
<br />
<table class="table table-hover table-bordered">
    <tr>
        @foreach (ColumnInfo columnInfo in Model.TableInfo.ColumnsInfo)
        {
            <th class="th-mint">
                @columnInfo.ColumnName
            </th>
        }
        <th></th>
    </tr>
    @for (int i = 0; i < Model.Values[0].Count; i++)
    {
        <tr>
            @foreach (List<object> values in Model.Values)
            {
                <td>
                    @Convert.ToString(values[i])
                </td>
            }
            <td>
                @Html.RadioButton("rowId", i)
            </td>
        </tr>
    }
</table>
<br />
<hr />
@Html.ActionLink("Powrót do Tabele", "Index")

<script>
    function redirectToEdit() {
        var radioButtons = document.getElementsByTagName("input");
        var index = -1;
        for (var i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
                index = i;
                break;
            }
        }
        if(index != -1)
        {
            window.location = "Edit?Name=@Model.TableInfo.TableName&Id=" + index;
        }
    }

    function redirectToDelete() {
        var radioButtons = document.getElementsByTagName("input");
        var index = -1;
        for (var i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
                index = i;
                break;
            }
        }
        if (index != -1) {
            window.location = "Delete?Name=@Model.TableInfo.TableName&Id=" + index;
        }
    }
</script>