@{
    ViewBag.Title = "Przekaż uprawnienia";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> tableNames = ViewData["tnames"] as List<string>;
}

@if (ViewBag.ErrMsg != string.Empty)
{
    <p class="alert alert-warning">@ViewBag.ErrMsg</p>
}

@if (ViewBag.Msg != string.Empty)
{
    if (ViewBag.Except != null)
    {
        string msg = "Następujące uprawnienia nie zostały przekazane, gdyż użytkownik docelowy już je posiadał: ";
        foreach (string str in ViewBag.Except)
        {
            string[] parser = str.Split(' ');
            msg += parser[0];
            if (parser[1] == "0")
            {
                msg += " - Pokaż ";
            }
            else if (parser[1] == "1")
            {
                msg += " - Wstaw ";
            }
            if (parser[1] == "2")
            {
                msg += " - Usuń ";
            }
            if (parser[1] == "3")
            {
                msg += " - Edytuj ";
            }
        }
        <p class="alert alert-info">@msg</p>
    }
    else
    {
        <p class="alert alert-info">@ViewBag.Msg</p>
    }

}
<h2 class="text-center">Przekaż</h2>

@using (Html.BeginForm("Grant", "Permissions", FormMethod.Post, new { @role = "form", @class = "form-horizontal" }))
{
    <h4 class="text-center"><b>Uprawnienia otrzymywane przez użytkownika docelowego</b></h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="th-blue">Tabela</th>
                <th class="th-blue">Select</th>
                <th class="th-blue">Insert</th>
                <th class="th-blue">Delete</th>
                <th class="th-blue">Update</th>
            </tr>
        </thead>
        <tbody>
            @{


    for (int i = 0; i < tableNames.Count; i++)
    {
        <tr>
            <td>
                @tableNames[i]
            </td>
            @for (int j = 0; j < 4; j++)
            {
                string nazwa = tableNames[i] + " " + j;
                <td>
                    @if (ViewBag.Permissions[i][j] == '2')
                    {
                        <span><input type="checkbox" name="@nazwa" /></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-minus-sign"></span>
                    }
                </td>
            }
        </tr>
    }
            }
        </tbody>
    </table>
    <hr />
    <div>
        <table style="float:right;width:30%; " class="table table-hover">
            <thead>
                <tr>
                    <th class="th-blue">Użytkownik</th>
                    <th class="th-blue">Uprawnienie przejmij</th>
                </tr>
            </thead>
            <tbody>
                @foreach (string str in ViewData["przejmujacy"] as List<string>)
                {
                    string[] splitter = str.Split(' ');

                    <tr>
                        <td>@splitter[0]</td>
                        <td>
                            @if (splitter[1] == "1")
                            {
                                <span class="glyphicon glyphicon-plus-sign"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-minus-sign"></span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p><h4><b>Użytkownik docelowy</b></h4>@Html.DropDownList("uname", ViewData["list"] as SelectList, new { @class = "dropdown dropdown-header", style = "font-weight:bold; color:black" })</p>
        <button type="submit" class="btn btn-primary">Dalej</button>
    </div>
}